<style>
@media all and (max-width: 959px) {
  .inventory {
    display: block;
  }
  .alt-inventory {
    display: none;
  }
}

@media all and (max-width: 479px) {
  .inventory {
    display: none;
  }
  .alt-inventory {
    display: block;
  }
}
</style>