.inventory-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid rgb(169,169,169);
  border-radius: 10px;
  width: 200px;
  height: auto;
  align-items: center;
  justify-content: center;
}

.inventory-count {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  width: 100%;
}

.title-filter {
  margin-bottom: 10px;
  border-bottom: 1px solid black;
  font-weight: bold;
  font-size: large;
}

.filter-type {
  display: flex;
  margin: 10px;
  width: 60%;
  justify-items: start;
}

.filter-total {
  display: flex;
  margin: 10px;
  width: 40%;
  justify-items: center;
  text-align: end;
  font-weight: bold;
}