.inventory-container {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  width: 170px;
}

.inventory-count {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.filter-id {
  display: flex;
  flex-direction: row;
  margin: 10px;
  align-items: right;
  justify-content: right;
}

.filter-type {
  margin: 10px;
  align-items: center;
  justify-content: right;
}

.filter-total {
  margin: 10px;
  align-items: left;
  justify-content: right;
}