
.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  z-index: 10;
  height: auto;
}

.modal-content {
  width: 500px;
  background-color: #fff;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  align-content: center;
  overflow-y: auto;
  overflow-x: hidden;
}

.modal-body {
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  height: 650px;
  width: 475px;
  display:flex;
  flex-direction: column;
}

.modal-body-filter {
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  height: 400px;
  width: 475px;
  display:flex;
  flex-direction: column;
}

.modal-company-info {
  margin-top: 20px;
  margin-bottom: 20px;
  border-top: 1px solid rgb(169,169,169);
  border-bottom: 1px solid rgb(169,169,169);
}

.modal-edits {
  margin-top: 0px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
input {
  text-align: center;
}

.modal-submit {
  width: 200px;
  height: 50px;
  margin-right: 10px;
}

.modal-cancel {
  width: 200px;
  height: 50px;
}

/* .modal-filters {
  margin-top: 5px;
} */