/* .modal {
  max-width: 700px;
  max-height: 500px;
} */
.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  z-index: 10;
  /* max-width: 700px;
  max-height: 500px; */
}

.modal-content {
  width: 500px;
  background-color: #fff;
  border-radius: 10px;
}

.modal-body {
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}