#root {
  /* position: relative; */
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.App {
  /* float: left; */
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

.comp-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  margin-top: 5%;
  width: 100%;
}