#root {
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.App {
  float: left;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 1500px;
  margin: 50px;
}

.comp-container {
  float: left;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  /* align-items: center; */
  margin-top: 10%;
  width: 1250px;
}

.nav-bar {
  display: inline-flex;
  flex-direction: row;
  background-color: #a4bef0;
  width: 1250px;
  padding: 20px;
}

.logo {
  float: left;
  margin-right: 15%;
}

.add-Service-tab {
  border: 1px solid black;
  padding: 7px;
  max-height: 25px;
  max-width: 75px;
  font-size: small;
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
